* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(/assets/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
    cursor: pointer;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-serach {
    display: flex;
    justify-content: space-around;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 2px;
}

.serach-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.serach-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 20px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-serach:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.7rem;
}

.ic {
    height: 30px;
    width: 30px;
    margin: 0px 2px 1px 0px;
}

.EN {
    font-size: 0.85rem;
    font-weight: 700;
    align-items: center;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    ;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("assets/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.b19{
    height: 50px;
}

.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    margin-bottom: 40px;
}

.box {
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image01 {
    border-radius: 5px;
    box-shadow: 10px 10px 10px;
    height: 400px;
    width: 90vw;
    background-color: #ff6200;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    /* flex-wrap: wrap; */
}

.product-01-banner{
    height: 500px;
    width: 90vw;
    background-color: rgb(252, 174, 6);
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px 5px;
    display: flex;
}

.banner{
    height: 300px;
    width: 60px;
    margin-left: 20px ;
    margin-top: 10px;
    font-weight: 600;
    font-size: 2rem;

}
.card{
    height: 300px;
    width: 250px;
    border-radius: 3px;
    background-color: white;
    margin-top: 70px;

}

.card img{
    height: 300px;
}

.card button{
    margin-top: 10px;
    height: 30px;
    background-color:  #cc0c39;
    border: 1px solid transparent;
    width: 70px;
    border-radius: 3px;
    font-size:  1rem;
    font-weight: 400;
    transition: .3 ease-in-out;
    cursor: pointer;
}

.card button:hover{
    background-color: white;
    color: black;
}

.card span{
    padding-left: 10px;
    font-size: 1rem;
    color: #cc0c39;
    font-weight: 700;

}

.heading1{
    padding-left: 20px;
}


.b1 {
    height: 100px;
    width: 40%;
}

.b1 p {
    margin-top: 10px;
}

.image01 h2 {
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 2rem;
}

.image01 p {
    padding: 10px 10px 20px 10px;
    text-align: center;
    cursor: pointer;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
}

.banner21{
    height: 150px;
    width: 50px;
    background-color: white;
}

.footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    font-size: 0.85rem;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}


/* 
.ul {
    margin-top: 50px;
} */

.get {
    margin-top: 40px;
}

.para {
    font-weight: 800;
}

ul a {
    padding-top: 10px;
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}

.panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(/assets/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.button1 {
    padding-left: 30px;
}

.btn {
    height: 40px;
    width: 150px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: #dddddd;
    cursor: pointer;
    border-radius: 3px;
    border-radius: 1px solid white;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.drop {
    padding-left: 10px;
}

.btn1 {
    height: 40px;
    width: 180px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: #dddddd;
    cursor: pointer;
    border-radius: 1px solid white;
    border-radius: 3px;
}
.btn1:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.img {
    height: 25px;
    width: 30px;
}

.btn2 {
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid white;
    color: #dddddd;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
}

.btn2:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    color: white;
    padding-top: 25px;
    text-decoration: none;
}

.copyright {
    padding-top: 5px;
}



